# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
streamlit_app/venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Power BI temp
*.tmp

# Streamlit secrets
.streamlit/secrets.toml
